<section class="hero is-primary is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-end">
            <a href="#" class="navbar-item">About</a>
            <a href="#" class="navbar-item">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        CNAB Explorer
      </h1>
      <h2 class="subtitle">
        Explore transactions, stores and balances
      </h2>

      <file-uploader />
    </div>
  </div>
</section>
